
#stage-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#stage-2 .shape-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-100px);
}
